<%= javascript_include_tag params[:controller] %>
<%= stylesheet_link_tag params[:controller] %>

<div id="container">
    <canvas id="mapCanvas" width="902" height="900"></canvas>
</div>

<script type="text/javascript">
draw();
</script>